@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<body>
    <div>
        <table id="filmRanking">
            <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Average Score</th>
                    <th>Details Link</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataModels.movie movie in ViewBag.moviesRanking)
                    {
                        <tr>
                            <td>@movie.title</td>
                            <td>@movie.vote_average</td>
                            <td>@Html.ActionLink("Details", "Movie", new { Id = @movie.id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>